html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

.contentContainer {
  align-items: center;
}

.m30 {
  margin: 30px;
}

.fullHeight {
  height: 100%;
}

.contentBox {
}

.photoBox {
  height: 100%;
  align-items: center;
  text-align: center;
}

.photoImg {
  height: 200px;
  object-fit: cover;
}

.textBox {
  position: relative;
}

.alignBottom {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.second {
  margin-left: 10px;
}

.is-work {
  border-radius: 15px;
}

/* MEDIA QUERIES FOR TABLETS & SMALLER */
@media screen and (max-width: 768px) {
  .textBox {
    text-align: center;
    padding: 20px;
  }

  .alignBottom {
    position: relative;
    top: 8px;
  }
}
